<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxT3Ph5AMTz2Dgdp-X4jjfOZFXuGkO_nQ</string>
	<key>GCM_SENDER_ID</key>
	<string>122038133417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.sparkoch.app</string>
	<key>PROJECT_ID</key>
	<string>sparkoch-fd095</string>
	<key>STORAGE_BUCKET</key>
	<string>sparkoch-fd095.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122038133417:ios:a69c7e45660daddd0d3fb8</string>
</dict>
</plist>